<!-- start code -->
<div class="header">
    <div class="container-u">
        <!-- mobile-header -->
        <div class="header-mobile__container ">

            <!-- content -->
            <div class="header-mobile__content">
                <h2 class="name-page js-showNamePage"></h2>
            </div>

            <!-- nav -->
            <div class="header-mobile__nav">

                <!-- btn-notify -->
                <div class="btn__nav js-btnNotifyOpen">
                    <svg class="icon">
                        <use xlink:href="../assets/icons/notify.svg#icon"></use>
                    </svg>
                </div>

                <!-- btn-profile -->
                <a href="/profile" class="btn__nav">
                    <img class="img" src="https://pp.userapi.com/c637425/v637425754/f71f/2jJgQP2XQpY.jpg">
                </a>

            </div>
        </div>
    </div>
</div>

<!-- other-blocks -->
<div class="other-blocks">
    <!-- notify -->
    <div class="notify-block">
        <div class="notify-bg js-btnNotifyClose"></div>
        <div class="notify-block__container">

            <!-- header -->
            <div class="notify-container__header">
                <div class="btn-notify js-btnNotifyOpen">
                    <svg class="icon-notify">
                        <use xlink:href="../assets/icons/left-arrow.svg#icon"></use>
                    </svg>
                </div>
                <h2 class="notify-headline">Уведомления</h2>
            </div>

            <!-- menu -->
            <div class="notify-container__menu">
                <div class="nav-notify">
                    <div class="btn-nav js-btnNotifyNew -this">
                        <span>Новые</span>
                    </div>
                    <div class="btn-nav js-btnNotifyLooked">
                        <span>Просмотренные</span>
                    </div>
                </div>
            </div>

            <!-- notify-content-->
            <div class="notify-container__content js-blockContentNotify"></div>
        </div>
    </div>
</div>

<div class="menu-all">

    <!-- mobile-menu -->
    <div class="mobile-menu">
        <div class="container-u">
            <div class="mobile-menu__container-nav">
                <!-- desk -->
                <a href="/" class="btn-nav desk">
                    <svg class="icon-nav">
                        <use xlink:href="../assets/icons/desk.svg#icon"></use>
                    </svg>
                </a>

                <!-- library -->
                <a href="/library" class="btn-nav library">
                    <svg class="icon-nav">
                        <use xlink:href="../assets/icons/book.svg#icon"></use>
                    </svg>
                </a>

                <!-- date -->
                <a href="/date" class="btn-nav date">
                    <svg class="icon-nav">
                        <use xlink:href="../assets/icons/date.svg#icon"></use>
                    </svg>
                </a>

                <!-- settings -->
                <a href="/settings" class="btn-nav settings">
                    <svg class="icon-nav">
                        <use xlink:href="assets/icons/settings.svg#icon"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>

