<!doctype html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timedesk | Библиотека</title>
    <% include static/static-link.ejs%>
</head>
<body class="action-body">
    <% include static/static-body.ejs%>
    <div class="display-all"></div>
    <% include static/static-script.ejs%>
</body>
</html>