@media screen and (min-width: 320px){
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        border-bottom: 1px solid #e5e5e5;
        padding: 5px 0;
        background-color: #ffffff;
    }

    .header-mobile__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 48px;
        padding: 0 11px 0 15px;
    }

    /* menu */

    .header-mobile__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .header-mobile__headline {
        font-family: 'Avenir Next Cyr';
        font-size: 20px;
        font-weight: 500;
        color: #24292e;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 20px;
        height: 16px;
        margin-right: 14px;
    }

    .toggle i {
        width: 100%;
        height: 2px;
        background-color: #98a4b2;
    }

    .mobile-menu {
        position: fixed;
        z-index: -15;
    }

    .header-mobile__menu.-open .mobile-menu {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
    }

    .mobile-menu__bg {
        position: fixed;
        z-index: -20;
        background-color: rgb(99,114,130);
        opacity: 0;
        transition: 1s ease-out;
    }

    .header-mobile__menu.-open .mobile-menu__bg {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .5;
        z-index: 20;
        transition: .6s ease-out;
    }

    .mobile-menu__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 100%;
        padding: 40px 0 0 40px;
        background-color: #fcfeff;
        z-index: 25;
        transform: translateX(-200%);
        transition: .6s ease-out;
    }

    .header-mobile__menu.-open .mobile-menu__block {
        transform: translateX(0);
    }

    .mobile-menu__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 32px;
        margin-bottom: 25px;
    }

    .mobile-menu__header img {
        width: 32px;
        height: 32px;
    }

    .mobile-menu__header svg {
        width: 10px;
        height: 10px;
        fill: #99C6F3;
        margin-right: 8px;
    }

    .mobile-menu__nav {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .mobile-menu__nav .btn-nav {
        font-family: 'Avenir Next Cyr';
        font-size: 18px;
        font-weight: 500;
        padding: 12px 0;
        color: #637282;
    }

    .mobile-menu__nav .btn-nav.-this {
        color: #0070E0;
    }

    /* other */

    .header-mobile__other {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-notify .icon-notify {
        width: 18px;
        height: 18px;
        fill: #bfbfbf;
    }

    .btn-user__avatar {
        margin-left: 2px;
    }

    .btn-user__avatar .avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .avatar-static {
        font-family: 'Avenir Next Cyr';
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background-color: #f4f4f4;
        color: #939799;
    }
}