@media screen and (min-width: 320px){
    .header-mobile__other.-notify .btn-notify .icon-notify {
        fill: #222222;
    }

    .block-notify {
        position: fixed;
        top: 52px;
        right: 10px;
        display: none;
        min-width: 300px;
        max-width: 340px;
        z-index: 11;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 1px 17px 0 rgba(0,0,0,0.17);
        border: 1px solid #e5e5e5;
    }

    .header-mobile__other.-notify .block-notify {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .block-notify__header {
        font-family: 'Avenir Next Cyr';
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid #e6e8eb;
    }

    .block-notify__header h3 {
        font-size: 15px;
        font-weight: 500;
        color: #222222;
    }

    .block-notify__header span {

    }

    .block-notify__content {
        width: 100%;
        min-height: 110px;
        max-height: 220px;
        padding: 5px 15px;
    }
}