@media screen and (min-width: 320px){
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        min-height: 32px;
        border-radius: 2px;
    }

    .btn.-avatar.-round {
        min-width: 38px;
        min-height: 38px;
        border-radius: 50%;
    }

    .btn.-round {
        border-radius: 50%;
    }

    .btn:active,
    .btn.-round:active {
        background-color: rgba(0, 0, 0, .05);
    }

    .btn.-avatar.-round:active {
        background-color: rgba(46, 70, 230, .30);
    }
}
