@media screen and (min-width: 320px){
    .footer {
        padding: 20px 0;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__header {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 50px;
        margin-bottom: 16px;
    }

    .footer__nav {
        color: #ffffff;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__content .email {
        font-family: 'Roboto', sans-serif;
        color: #818181;
        margin-bottom: 25px;
    }
}