@media screen and (min-width: 320px){
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 10px 0;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 46px;
    }

    .header-mobile__logo {
        position: absolute;
        top: 5px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        z-index: 10;
    }

    .header-mobile__logo .icon {
        width: 30px;
        height: 30px;
        fill: #ffffff;
        margin-right: 10px;
    }

    .toggle-menu {
        position: absolute;
        top: 14px;
        right: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 20px;
        height: 18px;
        z-index: 10;
    }

    .toggle-menu i {
        display: block;
        height: 3px;
        background-color: #ffffff;
        transition: .4s ease-out;
    }

    .toggle-menu i:first-child {
        width: 50%;
    }

    .toggle-menu i:last-child {
        width: 100%;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background: #ffffff;
        padding: 86px 20px 20px;
        transform: translateY(-100%);
        transition: .3s ease-out;
        z-index: 5;
    }

    .mobile-menu .menu-nav {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #60686d;
        margin: 0 0 30px;
    }

    .header-mobile.-menu .mobile-menu {
        transform: translateY(0);
    }

    .header-mobile.-menu .toggle-menu {
        display: block;
    }

    .header-mobile.-menu .toggle-menu i{
        background-color: #0c1014;
    }

    .header-mobile.-menu .toggle-menu i:first-child {
        position: absolute;
        top: 8px;
        width: 100%;
        transform: rotate(-45deg);
    }

    .header-mobile.-menu .toggle-menu i:last-child {
        position: absolute;
        top: 8px;
        transform: rotate(45deg);
    }

    .header-mobile.-menu .header-mobile__logo .icon {
        fill: #34b5ff;
        transform: scale(1.05);
    }
}

@media screen and (min-width: 1024px){
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
    }
}