#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #ffffff;
    position: fixed;
    z-index: 1031;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}