@media screen and (min-width: 320px){
    .section-plugins__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-plugins__illustration {
        width: 100%;
        margin-bottom: 40px;
    }

    .section-plugins__illustration .img {
        width: 100%;
    }

    .section-plugins__content {
        max-width: 460px;
        margin-bottom: 35px;
    }

    .section-plugins__btns .btn-front {
        font-family: 'Roboto', sans-serif;
    }

    .section-plugins__btns .btn-front:first-child {
        margin-bottom: 20px;
    }
}