@media screen and (min-width: 320px) {
    .section-func__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section-func__content {
        max-width: 460px;
        margin-bottom: 35px;
    }

    .section-func__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 0;
        max-width: 360px;
    }

    .item-illustration {
        width: 100%;
        margin-bottom: 40px;
    }

    .item-illustration .img{
        width: 100%;
    }

    .item-content {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
    }

    .item-content h3 {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.3em;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .item-content p {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 400;
        color: #8792a1;
    }
}