@media screen and (min-width: 320px){
    .section-main {
        padding-top: 100px;
    }

    .section-main__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section-main__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        max-width: 460px;
    }

    .section-main__content h2{
        font-size: 26px;
        font-weight: 500;
        line-height: 1.3em;
        color: #ffffff;
        margin-bottom: 15px;
    }

    .section-main__content p {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: #ffffff;
    }

    .section-main__btn {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 50px;
    }

    .section-main__btn .btn-front {
        margin-bottom: 20px;
    }

    .section-main__illustration {
        width: 100%;
    }

    .section-main__illustration .img {
        width: 100%;
    }

}