.section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-buttons .btn-front:first-child {
    background-color: #ffffff;
    color: #0c1014;
}

.section-buttons .btn-front:last-child {
    border: 1px solid #aab5c5;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0;
}

.btn-front {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    border-radius: 25px;
    padding: 0 25px;
}



.section-indents {
    padding: 30px 0 60px;
}

.section-content {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.section-content h2{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3em;
    color: #ffffff;
    margin-bottom: 15px;
}

.section-content p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
}