@media screen and (min-width: 320px){
    .container-u {
        padding: 0 15px;
    }

    .container-o {
        padding: 0 20px;
        max-width: 768px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px){
    .container-u {
        padding: 0 50px;
    }

    .container-o {
        max-width: 988px;
    }
}

@media screen and (min-width: 1366px){
    .container-o {
        max-width: 1250px;
    }
}