body {
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input, button, textarea {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

.black-bg {
    background-color: #0c1014;
}

.action-body::-webkit-scrollbar {
    width: 0;
}

.action-body.-active {
    overflow: hidden;
}

@media screen and (min-width: 320px){
    .display-all {
        width: 100%;
        height: calc(100vh - 58px);
        margin-top: 58px;
        background-color: #ffffff;
    }
}

@media screen and (min-width: 768px){

}