<!-- scripts -->
<script type="text/javascript" src="../../assets/js/libs/nprogress.js"></script>
<script type="text/javascript">
    NProgress.start();
    NProgress.set(0.2);
    setTimeout(function() {NProgress.done();}, 500);
</script>
<script type="text/javascript" src="../../assets/js/libs/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/user/interfaceHeader.js"></script>
<script type="text/javascript" src="../../assets/js/user/script.js"></script>